html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

header {
    height: 6.5em;
    /* background-color: black; */
    color: rgb(232, 232, 232);
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px 0 50px;
    border-bottom: 1px solid white;


}

nav button {
    height: 50px;
    width: 100px;

    background: rgba(3, 3, 3, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Subtle border */
    border-radius: 10px;
    /* Rounded corners */
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    /* Soft shadow */
    transition: all 0.3s ease;
    /* Smooth transitions for hover effects */
}

nav button:hover {
    background: rgba(255, 255, 255, 0.3);
    /* Slightly more opaque on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Enhanced shadow on hover */
}

body {
    background: #07151a;
    background: linear-gradient(180deg, rgba(7, 21, 26, 1) 0%, rgba(21, 115, 130, 1) 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content {

    width: 100vw;
    text-align: center;
    margin: auto;
    min-height: 100vh;
}

#frontHeading {
    padding-top: 70px;
    color: rgb(232, 232, 232);
    font-size: 50px;
}

#text {
    color: rgb(213, 198, 198);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.1px;
}

#menu {
    width: 100vw;
    height: 40vh;

    display: flex;
    justify-content: start;
    align-items: end;


    background-image: url(https://images.unsplash.com/photo-1728051103953-91ce6f60610a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);
    background-repeat: no-repeat;
    background-position: 0 -650px;
    background-size: cover;
}

#menuText {
    color: rgb(232, 232, 232);
    font-weight: 700;
    font-size: 50px;

    display: block;
    margin-left: 40px;
    margin-bottom: 15px;
}

.gridContainer {

    width: 90vw;
    margin: auto;

    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 500px 500px;
    column-gap: 5%;

}

.menuCard {
    margin-top: 20px;

    height: 450px;
    color: rgb(232, 232, 232);

    border-radius: 15px;

    text-align: start;
}

.menuCard img {
    width: 100%;
    height: 70%;
    object-fit: cover;

    border-radius: 15px;
}

.menuCard a:hover {
    color: orange;
}

.menuCard h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-bottom: 0;
}

.menuCard p {
    font-size: 13px;
}

.menuCard a {
    color: rgb(232, 232, 232);
    text-decoration: none;
    transition: color 0.2s ease;
}


#Contacts {
    color: rgb(232, 232, 232);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 35px;
}

#container {
    display: flex;
    width: 60vw;
    margin: auto;
    height: 60vh;
}

#address {
    padding: 20px 20px 20px 40px;
    width: 50%;
    text-align: left;
    color: rgb(232, 232, 232);

}

#timings {
    border-top: 1px solid rgb(232, 232, 232);
}

#timings h3 {
    margin-bottom: 30px;
}

#address h3 {
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 1.5px;
    margin-top: 40px;
}

#Reservation {
    padding: 20px;
    color: rgb(232, 232, 232);
    width: 50%;
}

#Reservation h3 {
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 1.5px;
    margin-top: 40px;
}

#bookingDetails {

    display: flex;
    flex-direction: column;
    gap: 12px;
}

#Reservation button {
    margin-top: 65px;
    width: 50%;
    height: 40px;
    font-size: 12px;
    background-color: rgb(245, 175, 46);
    border: 1px solid rgb(245, 175, 46);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    /* Soft shadow */
    transition: all 0.3s ease;
    font-weight: 600;
}

#Reservation button:hover {
    background-color: rgb(250, 195, 96);
}

#row {
    display: flex;
    gap: 12px;
}

input,
textarea {
    height: 35px;
    background: transparent;
    border: 1px solid rgb(232, 232, 232);
    color: white;
    padding: 0 0 0 15px;
}

textarea {
    height: 100px;
}

#row input {
    flex: 1;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
    overflow: hidden;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}